
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <div class="row justify-content-center">
            <img src="~/images/check.png" height="500" width="500" class="img-fluid"/>
            <h3>Chúng tôi đã ghi nhận đơn hàng của bạn và sẽ liên hệ cho bạn trong thời gian sớm nhất</h3>
        </div>
    </div>

