
@{
    ViewData["Title"] = "Hướng dẫn chọn size";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row justify-content-center">
            <img src="~/images/size/48269422_203177387289954_5253938162102697984_n.png"  class="img-fluid" height="831" width="1024"/>
            <img src="~/images/size/48379576_527344374341949_8254695785908666368_n.png" class="img-fluid" height="831" width="1024"/>
        </div>
    </div>
